<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="yellow"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <ion-card class="ion-margin">
    <ion-card-header>
      <ion-card-title class="mInput" color="itrain-blue" position="stacked">
        Introducir ejercicio</ion-card-title
      >

      <ion-card-title class="mInput" color="itrain-blue" position="stacked">
        {{item.title}}</ion-card-title
      >
    </ion-card-header>

    <form (ngSubmit)="createdItem(formAddEdit)" #formAddEdit="ngForm">
      <ion-item>
        <ion-input
          [(ngModel)]="item.title"
          name="title"
          type="text"
          required
          clearInput
          placeholder="Ejercicio"
        ></ion-input>
        <ion-icon color="itrain-blue" slot="end" name="bookmark"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-input
          [(ngModel)]="item.description"
          name="description"
          type="text"
          clearInput
          placeholder="Descripción"
        ></ion-input>
        <ion-icon color="itrain-blue" slot="end" name="clipboard"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label>Preparación</ion-label>
        <ion-input
          [(ngModel)]="item.preparation"
          name="preparation"
          type="number"
          clearInput
          slot="end"
          placeholder="00:00"
        >
        </ion-input>
        <ion-icon color="itrain-blue" slot="end" name="timer"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label>Series</ion-label>
        <ion-input
          [(ngModel)]="item.sets"
          name="sets"
          type="number"
          clearInput
          slot="end"
          placeholder="0"
        >
        </ion-input>
        <ion-icon color="itrain-blue" slot="end" name="repeat"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label>Descanso Series</ion-label>
        <ion-input
          [(ngModel)]="item.restSets"
          name="restSets"
          type="number"
          clearInput
          slot="end"
          placeholder="00:00"
        >
        </ion-input>
        <ion-icon color="itrain-blue" slot="end" name="hand-right"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label>Tiempo</ion-label>
        <ion-input
          [(ngModel)]="item.time"
          name="time"
          type="number"
          clearInput
          slot="end"
          placeholder="00:00"
        >
        </ion-input>
        <ion-icon color="itrain-blue" slot="end" name="timer"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label>Repeticiones</ion-label>
        <ion-input
          [(ngModel)]="item.repeats"
          name="repeats"
          type="number"
          clearInput
          slot="end"
          placeholder="0"
        >
        </ion-input>
        <ion-icon color="itrain-blue" slot="end" name="repeat"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label>Descanso Reps.</ion-label>
        <ion-input
          [(ngModel)]="item.restReps"
          name="restReps"
          type="number"
          clearInput
          slot="end"
          placeholder="00:00"
        >
        </ion-input>
        <ion-icon color="itrain-blue" slot="end" name="hand-right"></ion-icon>
      </ion-item>

      <!-- Botón guardar -->
      <ion-button
        type="submit"
        [disabled]="item.title.length < 1"
        class="ion-margin"
        color="itrain-yellow"
      >
        <ion-icon slot="start" name="folder-open"></ion-icon>
        Guardar
      </ion-button>

      <!-- Botón borrar -->
      <ion-button class="ion-margin" color="itrain-yellow">
        <ion-icon slot="start" name="trash"></ion-icon>
        Borrar
      </ion-button>
    </form>
  </ion-card>
</ion-content>

<!-- Footer con los botones -->
<ion-footer class="ion-text-center"> </ion-footer>
