<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="yellow"></ion-back-button>
    </ion-buttons>
    <ion-title>{{item.title}}</ion-title>
    <!-- (click)="goAddEdit(exercise.id)" -->
    <ion-icon class="ion-padding" color="yellow" slot="end" name="build">
    </ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <h3>{{displayStage}}</h3>

  <ion-grid fixed>
    <ion-row>
      <ion-col class="ion-text-center">
        <svg
          id="progress-circle"
          width="50vh"
          height="50vh"
          viewBox="0 0 180 180"
        >
          <linearGradient id="linearColors1" x1="0" y1="0" x2="1" y2="1">
            <stop
              *ngIf="displayColor === 'restOut'"
              offset="0%"
              stop-color="#4DD3E3"
            ></stop>
            <stop
              *ngIf="displayColor === 'restOut'"
              offset="100%"
              stop-color="#7DCFFF"
            ></stop>
            <stop
              *ngIf="displayColor === 'Ex'"
              offset="0%"
              stop-color="#ff9368"
            ></stop>
            <stop
              *ngIf="displayColor === 'Ex'"
              offset="100%"
              stop-color="#FF412C"
            ></stop>
            <stop
              *ngIf="displayColor === 'Rest'"
              offset="0%"
              stop-color="#A4FCE5"
            ></stop>
            <stop
              *ngIf="displayColor === 'Rest'"
              offset="100%"
              stop-color="#85FF8B"
            ></stop>
          </linearGradient>
          <circle
            cx="50%"
            cy="50%"
            [attr.r]="circleR"
            fill="none"
            stroke="#fff"
            stroke-width="12"
          />
          <circle
            cx="50%"
            cy="50%"
            [attr.r]="circleR"
            fill="none"
            stroke="url(#linearColors1)"
            stroke-width="12"
            stroke-linecap="round"
            [attr.stroke-dasharray]="circleDasharray"
            [attr.stroke-dashoffset]="percentageOffset(percent | async)"
          />
          <text x="50%" y="57%" class="timer-text">{{ time | async }}</text>
        </svg>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card class="ion-padding">
    <ion-card-header class="ion-text-center">
      <ion-card-subtitle>Caracteristicas del ejercicio</ion-card-subtitle>
    </ion-card-header>

    <ion-grid fixed>
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked">Preparación</ion-label>
            <ion-label position="stacked">{{item.preparation}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Series</ion-label>
            <ion-label position="stacked">{{item.sets}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Descanso Series</ion-label>
            <ion-label position="stacked">{{item.restSets}}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked">Tiempo</ion-label>
            <ion-label position="stacked">{{item.time}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Repeticiones</ion-label>
            <ion-label position="stacked">{{item.repeats}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Descanso Reps.</ion-label>
            <ion-label position="stacked">{{item.restReps}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list> </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title color="oranje" class="ion-text-center"
        >Descripción</ion-card-title
      >
    </ion-card-header>
    <ion-card-content>{{item.description}}</ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="4">
          <ion-button color="itrain-blue" expand="block">
            <ion-icon color="itrain-darkcream" name="reload"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button
            *ngIf="state === 'stop'"
            (click)="startPreparation(this.preparation)"
            color="itrain-darkyellow"
            expand="block"
          >
            <ion-icon color="itrain-darkcream" name="play"></ion-icon>
          </ion-button>

          <ion-button
            *ngIf="state === 'start'"
            (click)="stopTimer()"
            color="itrain-darkyellow"
            expand="block"
          >
            <ion-icon
              *ngIf="state === 'start'"
              color="itrain-darkcream"
              name="pause"
            ></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button
            (click)="stopTimer()"
            color="itrain-orange"
            expand="block"
          >
            <ion-icon color="itrain-darkcream" name="stop"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- (click)="startTimer()" -->
    <!-- *ngIf="state === 'stop'" -->
    <!-- *ngIf="state === 'start'"  -->
    <!-- (click)="stopTimer()" -->
  </ion-toolbar>
</ion-footer>
