ion-icon {
  font-size: 1.5em;
}
h3 {
  font-size: 2.5em;
  font-weight: 600;
  // text-transform: uppercase;
  margin-top: 30px;
  color: #ffffff !important;
}

#progress-circle {
  margin-top: 15px;
  transform: rotate(-90deg);
}

.timer-text {
  transform: rotate(90deg);
  transform-origin: center;
  font-size: 36px;
  text-anchor: middle;
  font-weight: 700;
  fill: rgb(255, 255, 255);
  // fill: #ffeed0;
}
