// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/

:root {
  // My app theme -------------------------------------
  //
  --ion-background-color: #121213;
  // Color texto
  --ion-text-color: #d6c4a8;

  // ----------------------------------------------------
  /** primary **/
  --ion-color-primary: #78af9f;
  --ion-color-primary-rgb: 120, 175, 159;
  --ion-color-primary-contrast: #f1daaf;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #6a9a8c;
  --ion-color-primary-tint: #86b7a9;
  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;
  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;
  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;
  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;
  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;
  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;
  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;
  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */
  body {
    --ion-color-primary: #428cff;
    --ion-color-primary-rgb: 66, 140, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #3a7be0;
    --ion-color-primary-tint: #5598ff;
    --ion-color-secondary: #50c8ff;
    --ion-color-secondary-rgb: 80, 200, 255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #46b0e0;
    --ion-color-secondary-tint: #62ceff;
    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 106, 100, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #5d58e0;
    --ion-color-tertiary-tint: #7974ff;
    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47, 223, 117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;
    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255, 213, 52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;
    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255, 73, 97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;
    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244, 245, 248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0, 0, 0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;
    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;
    --ion-color-light: #222428;
    --ion-color-light-rgb: 34, 36, 40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
  }
  /*
   * iOS Dark Theme
   * -------------------------------------------
   */
  .ios body {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0, 0, 0;
    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;
    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;
    --ion-item-background: #000000;
    --ion-card-background: #1c1c1d;
  }
  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }
  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */
  .md body {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18, 18, 18;
    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;
    --ion-border-color: #222222;
    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;
    --ion-item-background: #1e1e1e;
    --ion-toolbar-background: #1f1f1f;
    --ion-tab-bar-background: #1f1f1f;
    --ion-card-background: #1e1e1e;
  }
}

// Colores de la app -----------------------------------------------------

// Dark i-train
:root {
  --ion-color-itrain-dark: #363537;
  --ion-color-itrain-dark-rgb: 54, 53, 55;
  --ion-color-itrain-dark-contrast: #ffffff;
  --ion-color-itrain-dark-contrast-rgb: 255, 255, 255;
  --ion-color-itrain-dark-shade: #302f30;
  --ion-color-itrain-dark-tint: #4a494b;
}

.ion-color-itrain-dark {
  --ion-color-base: var(--ion-color-itrain-dark);
  --ion-color-base-rgb: var(--ion-color-itrain-dark-rgb);
  --ion-color-contrast: var(--ion-color-itrain-dark-contrast);
  --ion-color-contrast-rgb: var(--ion-color-itrain-dark-contrast-rgb);
  --ion-color-shade: var(--ion-color-itrain-dark-shade);
  --ion-color-tint: var(--ion-color-itrain-dark-tint);
}

// Itrain dark ligth
:root {
  --ion-color-itrain-darkligth: #515051;
  --ion-color-itrain-darkligth-rgb: 81, 80, 81;
  --ion-color-itrain-darkligth-contrast: #ffffff;
  --ion-color-itrain-darkligth-contrast-rgb: 255, 255, 255;
  --ion-color-itrain-darkligth-shade: #474647;
  --ion-color-itrain-darkligth-tint: #626262;
}

.ion-color-itrain-darkligth {
  --ion-color-base: var(--ion-color-itrain-darkligth);
  --ion-color-base-rgb: var(--ion-color-itrain-darkligth-rgb);
  --ion-color-contrast: var(--ion-color-itrain-darkligth-contrast);
  --ion-color-contrast-rgb: var(--ion-color-itrain-darkligth-contrast-rgb);
  --ion-color-shade: var(--ion-color-itrain-darkligth-shade);
  --ion-color-tint: var(--ion-color-itrain-darkligth-tint);
}

// Amarillo i-train
:root {
  --ion-color-itrain-yellow: #f9c028;
  --ion-color-itrain-yellow-rgb: 249, 192, 40;
  --ion-color-itrain-yellow-contrast: #000000;
  --ion-color-itrain-yellow-contrast-rgb: 0, 0, 0;
  --ion-color-itrain-yellow-shade: #dba923;
  --ion-color-itrain-yellow-tint: #fac63e;
}

.ion-color-itrain-yellow {
  --ion-color-base: var(--ion-color-itrain-yellow);
  --ion-color-base-rgb: var(--ion-color-itrain-yellow-rgb);
  --ion-color-contrast: var(--ion-color-itrain-yellow-contrast);
  --ion-color-contrast-rgb: var(--ion-color-itrain-yellow-contrast-rgb);
  --ion-color-shade: var(--ion-color-itrain-yellow-shade);
  --ion-color-tint: var(--ion-color-itrain-yellow-tint);
}

// Amarillo oscuro i-train
:root {
  --ion-color-itrain-darkyellow: #e6a027;
  --ion-color-itrain-darkyellow-rgb: 230, 160, 39;
  --ion-color-itrain-darkyellow-contrast: #000000;
  --ion-color-itrain-darkyellow-contrast-rgb: 0, 0, 0;
  --ion-color-itrain-darkyellow-shade: #ca8d22;
  --ion-color-itrain-darkyellow-tint: #e9aa3d;
}

.ion-color-itrain-darkyellow {
  --ion-color-base: var(--ion-color-itrain-darkyellow);
  --ion-color-base-rgb: var(--ion-color-itrain-darkyellow-rgb);
  --ion-color-contrast: var(--ion-color-itrain-darkyellow-contrast);
  --ion-color-contrast-rgb: var(--ion-color-itrain-darkyellow-contrast-rgb);
  --ion-color-shade: var(--ion-color-itrain-darkyellow-shade);
  --ion-color-tint: var(--ion-color-itrain-darkyellow-tint);
}

// Azul i-train
:root {
  --ion-color-itrain-blue: #78af9f;
  --ion-color-itrain-blue-rgb: 120, 175, 159;
  --ion-color-itrain-blue-contrast: #000000;
  --ion-color-itrain-blue-contrast-rgb: 0, 0, 0;
  --ion-color-itrain-blue-shade: #6a9a8c;
  --ion-color-itrain-blue-tint: #86b7a9;
}

.ion-color-itrain-blue {
  --ion-color-base: var(--ion-color-itrain-blue);
  --ion-color-base-rgb: var(--ion-color-itrain-blue-rgb);
  --ion-color-contrast: var(--ion-color-itrain-blue-contrast);
  --ion-color-contrast-rgb: var(--ion-color-itrain-blue-contrast-rgb);
  --ion-color-shade: var(--ion-color-itrain-blue-shade);
  --ion-color-tint: var(--ion-color-itrain-blue-tint);
}

// Rojo i-train
:root {
  --ion-color-itrain-red: #d23d29;
  --ion-color-itrain-red-rgb: 210, 61, 41;
  --ion-color-itrain-red-contrast: #ffffff;
  --ion-color-itrain-red-contrast-rgb: 255, 255, 255;
  --ion-color-itrain-red-shade: #b93624;
  --ion-color-itrain-red-tint: #d7503e;
}

.ion-color-itrain-red {
  --ion-color-base: var(--ion-color-itrain-red);
  --ion-color-base-rgb: var(--ion-color-itrain-red-rgb);
  --ion-color-contrast: var(--ion-color-itrain-red-contrast);
  --ion-color-contrast-rgb: var(--ion-color-itrain-red-contrast-rgb);
  --ion-color-shade: var(--ion-color-itrain-red-shade);
  --ion-color-tint: var(--ion-color-itrain-red-tint);
}

// Naranja i-train
:root {
  --ion-color-itrain-orange: #e16a2b;
  --ion-color-itrain-orange-rgb: 225, 106, 43;
  --ion-color-itrain-orange-contrast: #000000;
  --ion-color-itrain-orange-contrast-rgb: 0, 0, 0;
  --ion-color-itrain-orange-shade: #c65d26;
  --ion-color-itrain-orange-tint: #e47940;
}

.ion-color-itrain-orange {
  --ion-color-base: var(--ion-color-itrain-orange);
  --ion-color-base-rgb: var(--ion-color-itrain-orange-rgb);
  --ion-color-contrast: var(--ion-color-itrain-orange-contrast);
  --ion-color-contrast-rgb: var(--ion-color-itrain-orange-contrast-rgb);
  --ion-color-shade: var(--ion-color-itrain-orange-shade);
  --ion-color-tint: var(--ion-color-itrain-orange-tint);
}

// Crema i-train
:root {
  --ion-color-itrain-cream: #f1daaf;
  --ion-color-itrain-cream-rgb: 241, 218, 175;
  --ion-color-itrain-cream-contrast: #000000;
  --ion-color-itrain-cream-contrast-rgb: 0, 0, 0;
  --ion-color-itrain-cream-shade: #d4c09a;
  --ion-color-itrain-cream-tint: #f2deb7;
}

.ion-color-itrain-cream {
  --ion-color-base: var(--ion-color-itrain-cream);
  --ion-color-base-rgb: var(--ion-color-itrain-cream-rgb);
  --ion-color-contrast: var(--ion-color-itrain-cream-contrast);
  --ion-color-contrast-rgb: var(--ion-color-itrain-cream-contrast-rgb);
  --ion-color-shade: var(--ion-color-itrain-cream-shade);
  --ion-color-tint: var(--ion-color-itrain-cream-tint);
}

// Cream oscuro i-train
:root {
  --ion-color-itrain-darkcream: #f1daaf;
  --ion-color-itrain-darkcream-rgb: 241, 218, 175;
  --ion-color-itrain-darkcream-contrast: #000000;
  --ion-color-itrain-darkcream-contrast-rgb: 0, 0, 0;
  --ion-color-itrain-darkcream-shade: #d4c09a;
  --ion-color-itrain-darkcream-tint: #f2deb7;
}

.ion-color-itrain-darkcream {
  --ion-color-base: var(--ion-color-itrain-darkcream);
  --ion-color-base-rgb: var(--ion-color-itrain-darkcream-rgb);
  --ion-color-contrast: var(--ion-color-itrain-darkcream-contrast);
  --ion-color-contrast-rgb: var(--ion-color-itrain-darkcream-contrast-rgb);
  --ion-color-shade: var(--ion-color-itrain-darkcream-shade);
  --ion-color-tint: var(--ion-color-itrain-darkcream-tint);
}

// Celeste itrain

:root {
  --ion-color-itrain-indigo: #509ecc;
  --ion-color-itrain-indigo-rgb: 80, 158, 204;
  --ion-color-itrain-indigo-contrast: #000000;
  --ion-color-itrain-indigo-contrast-rgb: 0, 0, 0;
  --ion-color-itrain-indigo-shade: #468bb4;
  --ion-color-itrain-indigo-tint: #62a8d1;
}

.ion-color-itrain-indigo {
  --ion-color-base: var(--ion-color-itrain-indigo);
  --ion-color-base-rgb: var(--ion-color-itrain-indigo-rgb);
  --ion-color-contrast: var(--ion-color-itrain-indigo-contrast);
  --ion-color-contrast-rgb: var(--ion-color-itrain-indigo-contrast-rgb);
  --ion-color-shade: var(--ion-color-itrain-indigo-shade);
  --ion-color-tint: var(--ion-color-itrain-indigo-tint);
}
