<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- Menu -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" menu="first"></ion-menu-button>
    </ion-buttons>
    <!-- Título -->
    <ion-title class="ion-text-center">Entrenamientos</ion-title>
    <!-- Icono info -->
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="information-circle-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher
    slot="fixed"
    (ionRefresh)="loadLists($event)"
    pullFactor="0.8"
    pullMin="60"
    pullMax="120"
  >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Lists Component -->
  <!-- Estas listas hacen referencia a las que estoy reciviendo en el ts -->
  <app-lists [lists]="lists"></app-lists>

  <!-- Infinite Scroll -->
  <ion-infinite-scroll
    [disabled]="!enabled"
    threshold="15%"
    (ionInfinite)="nextsItems($event)"
  >
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="itrain-darkyellow" (click)="addList()">
      <ion-icon color="itrain-cream" size="large" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
