<ion-menu side="start" menuId="first" contentId="main">
  <ion-header class="ion-no-border">
    <ion-row style="margin: 10px 0px 0px 15px">
      <ion-col>
        <img src="/assets/img/itrain-logo.png" />
      </ion-col>
    </ion-row>

    <!-- <ion-item>
      <ion-avatar slot="end">
        <img src="assets/avatars/{{ userService.getUser().avatar }}" />
      </ion-avatar>
      <ion-label>
        <h3>{{ userService.getUser().name }}</h3>
        <p>{{ userService.getUser().email }}</p>
      </ion-label>
    </ion-item> -->
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle>
        <ion-item [routerLink]="'/main/tabs/lists'" detail>
          <ion-icon
            name="clipboard-outline"
            class="ion-margin-end"
            color="itrain-blue"
            slot="start"
          ></ion-icon>
          Entrenamientos
        </ion-item>
        <ion-item [routerLink]="'/main/tabs/calendar'" detail>
          <ion-icon
            name="calendar-number-outline"
            class="ion-margin-end"
            color="itrain-blue"
            slot="start"
          ></ion-icon>
          Calendario
        </ion-item>
        <ion-item [routerLink]="'/main/tabs/profile'" detail>
          <ion-icon
            name="person-outline"
            class="ion-margin-end"
            color="itrain-blue"
            slot="start"
          ></ion-icon>
          Perfil
        </ion-item>
        <ion-item [routerLink]="'/posts/tabs/tab1'" detail>
          <ion-icon
            name="camera-outline"
            class="ion-margin-end"
            slot="start"
            color="itrain-blue"
          ></ion-icon>
          Fotos
        </ion-item>
        <ion-item (click)="logout()" detail>
          <ion-icon
            class="ion-margin-end"
            slot="start"
            color="itrain-blue"
            name="log-out-outline"
          ></ion-icon>
          Salir
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
  <ion-footer> </ion-footer>
</ion-menu>
