<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- Menu -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" menu="first"></ion-menu-button>
    </ion-buttons>
    <!-- Título -->
    <ion-title class="ion-text-center"> Calendario </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="information-circle-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="showAddEvent">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Nuevo evento</ion-card-title>
      </ion-card-header>
      <ion-item>
        <ion-input
          type="text"
          placeholder="Título"
          autocapitalize
          [(ngModel)]="newEvent.title"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          type="text"
          placeholder="Descripción"
          autocapitalize
          [(ngModel)]="newEvent.description"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label><b>Inicio</b></ion-label>
        <ion-datetime
          doneText="OK"
          cancelText="Cancelar"
          i18n
          displayFormat="DD/MM/YYYY | HH:mm"
          pickerFormat="MMM D HH:mm"
          [(ngModel)]="newEvent.startTime"
          [min]="minDate"
        ></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label><b>Fin</b></ion-label>
        <ion-datetime
          doneText="OK"
          cancelText="Cancelar"
          displayFormat="DD/MM/YYYY | HH:mm"
          pickerFormat="MMM D HH:mm"
          [(ngModel)]="newEvent.endTime"
          [min]="minDate"
        ></ion-datetime>
      </ion-item>

      <ion-grid fixed>
        <ion-row>
          <ion-col size="10">
            <ion-button (click)="addEvent()" expand="block" color="primary">
              <ion-icon class="ion-margin-end" name="folder-outline"></ion-icon>
              Guardar
            </ion-button></ion-col
          >
          <ion-col size="2">
            <ion-button (click)="showHideForm()" color="itrain-red">
              <ion-icon
                slot="icon-only"
                color="itrain-cream"
                name="close-circle-outline"
              ></ion-icon> </ion-button
          ></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>

  <div *ngIf="!showAddEvent">
    <ion-segment [(ngModel)]="calendar.mode">
      <ion-segment-button value="month">
        <ion-label>Mes</ion-label>
      </ion-segment-button>
      <ion-segment-button value="week">
        <ion-label>Semana</ion-label>
      </ion-segment-button>
      <ion-segment-button value="day">
        <ion-label>Dia</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <h2>{{ currentMonth }}</h2>
    </ion-col>
  </ion-row>

  <!-- (onRangeChanged)="reloadSource(startTime, endTime)" -->
  <!-- startingDayWeek="1" -->
  <calendar
    id="myCal"
    [eventSource]="allEvents"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    (onEventSelected)="onEventSelected($event)"
    (onTitleChanged)="onViewTitleChanged($event)"
    (onTimeSelected)="onTimeSelected($event)"
    [step]="calendar.step"
  >
  </calendar>

  <!-- <ng-template #template let-view="view" let-row="row" let-col="col">
    <div [class.with-event]="view.dates[row*7+col].events.length">
      {{view.dates[row*7+col].label}}
      <div class="indicator-container">
        <div
          class="event-indicator"
          *ngFor="let e of view.dates[row*7+col].events"
        ></div>
      </div>
    </div>
  </ng-template> -->

  <!-- Fab button -->
  <ion-fab
    *ngIf="!showAddEvent"
    vertical="bottom"
    horizontal="center"
    slot="fixed"
  >
    <ion-fab-button color="itrain-darkyellow" (click)="showHideForm()">
      <ion-icon color="itrain-cream" size="large" name="add"></ion-icon>
      <!-- <ion-icon
        *ngIf="showAddEvent"
        color="itrain-cream"
        size="large"
        name="close"
      ></ion-icon> -->
    </ion-fab-button>
  </ion-fab>
</ion-content>
