<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="lists">
      <ion-icon name="clipboard-outline"></ion-icon>
      <ion-label>Listas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calendar">
      <ion-icon name="calendar-number-outline"></ion-icon>
      <ion-label>Calendario</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
