<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>unfinished</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<!-- Refresher -->

<!-- Listas -->

<!-- Estas listas hacen referencia a las que estoy reciviendo en el ts -->
<app-lists [lists]="lists"></app-lists> 

<!-- Infinite scroll -->

<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button (click)="addList()">
      <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>



</ion-content>
