<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Listas sin terminar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher
    slot="fixed"
    (ionRefresh)="loadLists($event)"
    pullFactor="0.8"
    pullMin="60"
    pullMax="120"
  >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Lists Component -->
  <!-- Estas listas hacen referencia a las que estoy reciviendo en el ts -->
  <app-lists [lists]="lists"></app-lists>

  <!-- Infinite Scroll -->
  <ion-infinite-scroll
    [disabled]="!enabled"
    threshold="25%"
    (ionInfinite)="nextsItems($event)"
  >
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addList()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
