<mat-form-field appearance="outline">
  <input matInput type="text" placeholder="Buscar" (keyup)="search($event)" />
  <mat-icon matSuffix>search_outline</mat-icon>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- Posición en la tabla
    <ng-container matColumnDef="pos">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let user">{{ position }}</td>
    </ng-container> -->
    <!-- Id -->
    <ng-container matColumnDef="num">
      <th mat-header-cell *matHeaderCellDef>Num.</th>
      <td mat-cell *matCellDef="let i = index">{{ i }}</td>
    </ng-container>

    <!-- Id -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let list">{{ list._id }}</td>
    </ng-container>

    <!-- email -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
      <td mat-cell *matCellDef="let list">{{ list.title }}</td>
    </ng-container>

    <!-- Nombre -->
    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Usuario.ID</th>
      <td mat-cell *matCellDef="let list">{{ list.user }}</td>
    </ng-container>

    <!-- Role -->
    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Creación</th>
      <td mat-cell *matCellDef="let list">{{ list.created }}</td>
    </ng-container>

    <!-- Butons -->
    <!-- <ng-container matColumnDef="buttons">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let user">
        <button mat-icon-button><mat-icon>launch</mat-icon></button>
        <button mat-icon-button color="warn">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </mat-cell>
    </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>
  </table>

  <mat-paginator
    [length]="lists.length"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20, 30]"
    showFirstLastButtons
  ></mat-paginator>
</div>
