<div clase="post">

    <ion-item lines="none">

        <ion-avatar slot="start">
            <img src="/assets/avatars/{{ post.user.avatar }}" />
        </ion-avatar>

        <ion-label>
            <h3>{{ post.user.name }}</h3>
            <h3>{{ post.user.email }}</h3>
        </ion-label>

    </ion-item>

    <ion-slides mode="ios" pager="true" scrollbar="ios">

        <ion-slide class="image-slide" [style]="img1 | domSanitizer"></ion-slide>
        <ion-slide class="image-slide" [style]="img2 | domSanitizer"></ion-slide>
        <ion-slide class="image-slide" [style]="img3 | domSanitizer"></ion-slide>

    </ion-slides>


    <ion-item lines="none">
        <ion-icon slot="start" name="heart-outline"></ion-icon>
        <ion-icon slot="end" name="bookmark"></ion-icon>
    </ion-item>

    <ion-item lines="none">
        <ion-label text-wrap>
            {{ post.message }}
        </ion-label>
    </ion-item>

</div>