<div class="login">
  <form #loginForm="ngForm" class="custom-form" (ngSubmit)="login(loginForm)">
    <h1>Login</h1>
    <input
      [(ngModel)]="loginUser.email"
      type="email"
      name="email"
      placeholder="Email"
      required
    />
    <input
      [(ngModel)]="loginUser.password"
      type="password"
      ngModel
      name="password"
      placeholder="Contraseña"
      required
    />
    <mat-checkbox
      [(ngModel)]="checked"
      name="check"
      type="checkbox"
      color="accent"
      class="check"
    >
      Recuerdame
    </mat-checkbox>
    <button type="submit">Log in</button>
  </form>
</div>
<!--

[(ngModel)]="checked"
[(indeterminate)]="indeterminate"
[labelPosition]="labelPosition"
[disabled]="disabled" -->
