<ion-row>
  <ion-col>
    <ion-slides [options]="avatarSlide">
      <ion-slide *ngFor="let avatar of avatars">
        <ion-img
          class="pick-avatar"
          src="/assets/avatars/{{ avatar.img }}"
          [ngClass]="{ 'pick-avatar-selected': avatar.seleccionado }"
          (click)="avatarSelected(avatar)"
        >
        </ion-img>
      </ion-slide>
    </ion-slides>
  </ion-col>
</ion-row>

<!-- <ion-row>
  <ion-col class="ion-text-center">
    <h3>Avatars</h3>
  </ion-col>
</ion-row> -->
