<!-- Listas -->

<ion-grid fixed>
  <ion-row>
    <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">
      <ion-list>
        <!-- | filtroCompletado:terminada -->
        <ion-item-sliding *ngFor="let list of lists">
          <!-- (click)="listSelect(list)" -->
          <ion-item detail (click)="goToItems(list._id, list.title)">
            <ion-label>{{ list.title }}</ion-label>
            <ion-note slot="end">{{ list.items.length }}</ion-note>
          </ion-item>

          <ion-item-options side="end">
            <!-- (click)="borrarLista(lista)"  -->
            <ion-item-option color="danger">
              <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-item-option>
          </ion-item-options>

          <ion-item-options side="start">
            <!--  -->
            <ion-item-option>
              <ion-icon
                slot="icon-only"
                name="create"
                (click)="editList(list)"
              ></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
