<!-- Listas -->

<ion-grid fixed>
  <ion-row >
    <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">

      <ion-list>
        <!-- | filtroCompletado:terminada -->
        <ion-item-sliding *ngFor="let list of lists"> 
      
          <!-- (click)="listaSeleccionada(lista)" -->
            <ion-item  detail>
                <ion-label>{{ list.title }}</ion-label>
                <ion-note slot="end">{{list.items.length}}</ion-note>
            </ion-item>
      
            <ion-item-options side="end">
      
              <!-- (click)="borrarLista(lista)"  -->
                <ion-item-option color="danger">
                    <ion-icon slot="icon-only" name="close"></ion-icon>
                </ion-item-option>
      
            </ion-item-options>
      
            <ion-item-options side="start">
      
              <!-- (click)="editarLista(lista)" -->
                <ion-item-option >
                    <ion-icon slot="icon-only" name="create"></ion-icon>
                </ion-item-option>
      
            </ion-item-options>
        </ion-item-sliding>
      </ion-list>

    </ion-col>
  </ion-row>
</ion-grid>




