<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="yellow"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <ion-card class="ion-margin">
    <ion-card-header>
      <ion-card-title
        *ngIf="item.title.length < 1"
        class="mInput"
        color="itrain-blue"
        position="stacked"
      >
        Nuevo ejercicio</ion-card-title
      >

      <ion-card-title class="mInput" color="itrain-blue" position="stacked"
        ><strong>{{item.title}}</strong>
      </ion-card-title>
    </ion-card-header>

    <form (ngSubmit)="createdItem(formAddEdit)" #formAddEdit="ngForm">
      <ion-item>
        <ion-input
          [(ngModel)]="item.title"
          name="title"
          type="text"
          autocapitalize
          required
          clearInput
          placeholder="Ejercicio"
        ></ion-input>
        <ion-icon color="itrain-blue" slot="end" name="bookmark"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-input
          [(ngModel)]="item.description"
          name="description"
          type="text"
          autocapitalize
          clearInput
          required
          placeholder="Descripción"
        ></ion-input>
        <ion-icon
          color="itrain-darkcream"
          slot="end"
          name="clipboard"
        ></ion-icon>
      </ion-item>

      <ion-item (click)="pickerPreparation()">
        <ion-label>Preparación</ion-label>
        <ion-label slot="end" required
          >{{stringPreparationMin + dots + stringPreparationSec}}</ion-label
        >
        <ion-icon color="itrain-indigo" slot="end" name="timer"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label>Series</ion-label>
        <ion-input
          [(ngModel)]="item.sets"
          name="sets"
          type="number"
          clearInput
          slot="end"
          placeholder="0"
        >
        </ion-input>
        <ion-icon color="itrain-darkyellow" slot="end" name="repeat"></ion-icon>
      </ion-item>

      <ion-item (click)="pickerRestSSets()">
        <ion-label>Descanso Series</ion-label>
        <ion-label slot="end"
          >{{stringRestSetsMin + dots + stringRestSetsSec}}</ion-label
        >
        <ion-icon color="itrain-red" slot="end" name="hand-right"></ion-icon>
      </ion-item>

      <ion-item (click)="pickerTime()">
        <ion-label>Tiempo</ion-label>
        <ion-label slot="end"
          >{{stringTimeMin + dots + stringTimeSec}}</ion-label
        >
        <ion-icon color="success" slot="end" name="timer"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label>Repeticiones</ion-label>
        <ion-input
          [(ngModel)]="item.repeats"
          name="repeats"
          type="number"
          clearInput
          slot="end"
          placeholder="0"
        >
        </ion-input>
        <ion-icon color="itrain-darkyellow" slot="end" name="repeat"></ion-icon>
      </ion-item>

      <ion-item (click)="pickerRestRep()">
        <ion-label>Descanso Reps.</ion-label>
        <ion-label slot="end"
          >{{stringRestRepMin + dots + stringRestRepSec}}</ion-label
        >
        <ion-icon color="itrain-red" slot="end" name="hand-right"></ion-icon>
      </ion-item>

      <!-- Botón guardar -->
      <ion-button
        *ngIf="buttonStatus === 'create'"
        type="submit"
        [disabled]="
        (item.title.length &&
        item.description.length &&
        item.preparation &&
        item.sets &&
        item.restSets &&
        item.restReps &&
        item.time &&
        item.repeats &&
        item.restReps) < 1"
        class="ion-margin"
        color="itrain-yellow"
        expand="block"
      >
        <ion-icon slot="end" name="folder-open"></ion-icon>
        Guardar
      </ion-button>

      <ion-button
        *ngIf="buttonStatus === 'update'"
        type="submit"
        [disabled]="item.title.length < 1"
        class="ion-margin"
        color="itrain-yellow"
        expand="block"
      >
        <ion-icon slot="end" name="folder-open"></ion-icon>
        Actualizar
      </ion-button>
    </form>
  </ion-card>
</ion-content>

<!-- Footer con los botones -->
<ion-footer class="ion-text-center"> </ion-footer>
