<ion-content>
  <ion-slides class="mainSlide" #slideLoginToRegister>
    <ion-slide>
      <form [formGroup]="loginUser" (ngSubmit)="login()">
        <ion-grid fixed>
          <ion-row>
            <ion-col>
              <img src="/assets/img/itrain-logo.png" />
            </ion-col>
          </ion-row>
          <div class="container">
            <ion-row>
              <ion-col>
                <ion-list>
                  <!-- Input email -->
                  <ion-item class="roundedInput">
                    <ion-label position="floating">Email</ion-label>
                    <ion-input
                      formControlName="email"
                      type="email"
                      placeholder="itrain@ejemplo.com"
                      required
                    >
                    </ion-input>
                  </ion-item>

                  <!-- Input contraseña -->
                  <ion-item class="roundedInput">
                    <ion-label position="floating">Contraseña</ion-label>
                    <ion-input
                      formControlName="password"
                      type="password"
                      required
                    ></ion-input>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>

            <!-- Boton login -->
            <ion-row>
              <ion-col>
                <ion-button color="itrain-yellow" type="submit" expand="block">
                  Login
                </ion-button>
              </ion-col>
            </ion-row>
          </div>
        </ion-grid>
      </form>
    </ion-slide>

    <!-- ------------------------------------------------------------- -->

    <ion-slide>
      <ion-grid fixed>
        <ion-row>
          <ion-col>
            <img src="/assets/img/itrain-logo.png" />
          </ion-col>
        </ion-row>

        <!-- REGISTRAR USUARIO -->

        <form [formGroup]="registerUser" (ngSubmit)="register()">
          <div class="container">
            <ion-row>
              <ion-col>
                <ion-list>
                  <!-- Email -->
                  <ion-item class="roundedInput">
                    <ion-label position="floating">Email</ion-label>
                    <ion-input formControlName="email" type="email" required>
                    </ion-input>
                  </ion-item>

                  <!-- Nombre -->
                  <ion-item class="roundedInput">
                    <ion-label position="floating">Nombre</ion-label>
                    <ion-input
                      formControlName="name"
                      type="text"
                      required
                      autocapitalize
                    >
                    </ion-input>
                  </ion-item>

                  <!-- Contraseña -->
                  <ion-item class="roundedInput">
                    <ion-label position="floating">Contraseña</ion-label>
                    <ion-input
                      formControlName="password"
                      type="password"
                      required
                    ></ion-input>
                  </ion-item>

                  <!-- Confirmar contraseña -->
                  <ion-item class="roundedInput">
                    <ion-label position="floating"
                      >Confirmar contraseña</ion-label
                    >
                    <ion-input
                      [(ngModel)]="password2"
                      [ngModelOptions]="{standalone: true}"
                      type="password"
                      required
                    ></ion-input>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
            <!-- *ngIf="registerUser.get('password').valid" -->
            <div class="ion-margin-bottom">
              <ion-item lines="none" style="margin: 0px 0px 0px 8px">
                <ion-label color="medium"
                  ><strong>Seleccione avatar</strong></ion-label
                >
              </ion-item>

              <app-avatar-select
                (avatarSelect)="avatar = $event"
              ></app-avatar-select>
            </div>

            <!-- Botón de crear usuario -->
            <ion-row>
              <ion-col>
                <ion-button type="submit" color="itrain-yellow" expand="block">
                  Crear usuario
                </ion-button>
              </ion-col>
            </ion-row>
          </div>
        </form>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>

<!-- Footer -->
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-row>
      <div class="container">
        <ion-col *ngIf="slideNgIf === 1">
          <!-- Botón ir al login -->
          <ion-button
            expand="block"
            fill="outline"
            color="tertiary"
            (click)="showLogin()"
            color="itrain-blue"
          >
            Login
          </ion-button>
        </ion-col>

        <!-- Botón ir al registro -->
        <ion-col *ngIf="slideNgIf === 0">
          <ion-button
            expand="block"
            fill="outline"
            color="tertiary"
            (click)="showRegister()"
            color="itrain-blue"
          >
            Registrarme
          </ion-button>
        </ion-col>
      </div>
    </ion-row>
  </ion-toolbar>
</ion-footer>
