<ion-header>
  <ion-toolbar color="brown">
    <ion-title color="itrain-cream">{{ event.title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button color="itrain-cream" (click)="close('close')">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-item class="ion-no-padding">
        <ion-card-subtitle>Entrenamiento</ion-card-subtitle>
        <ion-buttons slot="end">
          <ion-button (click)="editEvent('update')">
            <ion-icon name="create-outline" color="primary"></ion-icon>
          </ion-button>
          <ion-button (click)="deleteEventAlert('delete')">
            <ion-icon name="trash-outline" color="itrain-red"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-card-header>

    <ion-item>
      <ion-icon
        name="bookmark-outline"
        slot="start"
        color="itrain-blue"
      ></ion-icon>
      <ion-label>{{event.title}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon
        name="calendar-outline"
        slot="start"
        color="itrain-blue"
      ></ion-icon>
      <ion-label>Inicio</ion-label>

      <p>{{startDate }}</p>
    </ion-item>

    <ion-item>
      <ion-icon
        name="calendar-outline"
        slot="start"
        color="itrain-blue"
      ></ion-icon>
      <ion-label>Fin</ion-label>

      <p>{{endDate}}</p>
    </ion-item>

    <ion-card-header>
      <ion-card-subtitle>Descripción</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content> {{event.description}} </ion-card-content>
  </ion-card>
</ion-content>
